@import '../../node_modules/normalize.css/normalize';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  resize: none;
  outline: none;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  user-select: none;
}

body {
  background-image: linear-gradient(to bottom, #FC494C, #C80C49);
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

.btn-open-menu {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: max-content;
  height: max-content;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: 50px;
  transform: translateY(0);
  opacity: 1;
  transition: 1s;
}

.nav {
  width: 350px;
  height: 100vh;
  background: #fff;
  float: left;
  transition: transform 1s;
  transform: translateX(-110%);
  border-radius: 0 3px 0 3px;
  &__header {
    height: 50px;
    padding: 15px;
  }
  &__search {
    width: 100%;
    border: none;
    color: #757575;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }
  &__foods {
    height: 80%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    &::-webkit-scrollbar {
      background: #E0DFE0;
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: #2D2E32;
      border-radius: 4px;
    }
    &-item {
      display: flex;
      align-items: center;
      padding: 15px;
      font-size: 17px;
      &:hover {
        background: #FCEAEC;
      }
    }
    &-link {
      color: #575757;
      margin-left: 10px;
    }
  }
  &__close {
    cursor: pointer;
    margin: 5px auto 0;
    position: relative;
    display: flex;
    border: none;
    background: transparent;
    justify-content: center;
    align-items: center;
  }
}

.hide-down {
  transform: translateY(100px);
  opacity: 0;
  cursor: default;
}

// Media start
@media (max-width: 1200px) {
  .btn-open-menu {
    font-size: 40px;
  }
}

@media (max-width: 900px) {
  .btn-open-menu {
    font-size: 35px;
  }
}

@media (max-width: 780px) {
  .nav {
    &__foods-item {
      font-size: 16px;
    }
    &__search {
      font-size: 15px;
    }
  }
}

@media (max-width: 645px) {
  .nav {
    width: 300px;
  }
}

@media (max-width: 500px) {
  .btn-open-menu {
    font-size: 25px;
  }
}

@media (max-width: 340px) {
  .nav {
    width: 240px;
  }
}